@model OPAC.Models.OptionModel

@{
    ViewBag.Title = "Trang chủ - Thư viện trường đại học FPT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start body -->
<div class="container">
    <figure>
        <img class="pic-header" alt="Home Slide" src="~/AllContent/images/white-background.png" />
    </figure>
    <div class="navbar-home">
        <a href="@Url.Action("Home", "Home")" style="background-color: #D8491F"><i class="fa fa-home"></i> Trang chủ</a>
        <a href="#">Giới thiệu</a>
        <a href="#">Sản phẩm</a>
        <div class="dropdown-home">
            <button class="dropbtn">Dịch vụ</button>
            <div class="dropdown-content">
                <a href="#">Z39.50</a>
            </div>
        </div>
        <a href="#" style="width: 153px">Nội qui thư viện</a>
        <a href="@Url.Action("PatronAfterLoginPage", "InformationPatron")" style="width: 220px">Thông tin bạn đọc</a>
        @if (Session["ID"] == null)
        {
            <a href="@Url.Action("Login", "Login")" id="login" class="login"><i class="fa fa-sign-in"></i> Đăng nhập</a>
        }
        else
        {
            <a href="@Url.Action("Logout", "Login")" id="login" class="login"><i class="fa fa-sign-out"></i> Đăng xuất</a>
        }
    </div>
    <br>
    <!-- Start: Slider Section -->
    <div id="myCarousel" class="carousel slide" style="float: left">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <figure class="item active">
                <img id="pic" class="img-responsive" src="~/AllContent/images/hinh1.jpg" alt="Slide1"
                     width="100%" height="345">
            </figure>
            <figure class="item">
                <img id="pic" class="img-responsive" src="~/AllContent/images/sliderBook1.png" alt="Slide2"
                     width="100%" height="345">
            </figure>
            <figure class="item">
                <img id="pic" class="img-responsive" src="~/AllContent/images/hinh3.jpg" alt="Slide3"
                     width="100%" height="345">
            </figure>
            <figure class="item">
                <img id="pic" class="img-responsive" src="~/AllContent/images/hinh4.jpg" alt="Slide4"
                     width="100%" height="345">
            </figure>
            <figure class="item">
                <img id="pic" class="img-responsive" src="~/AllContent/images/hinh5.jpg" alt="Slide5"
                     width="100%" height="345">
            </figure>
        </div>
    </div>
    <!-- End: Slider Section -->
    <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <!-- Start search bar and book statistics -->
    @{
        string data = (string)ViewBag.EmptyKeword;
        string message = (string)TempData["errorMessage"];
    }
    <div>
        <form action="/SearchBook/GetKeySearch" method="post">
            <table style="width: 535px; height: 115px">
                <tr class="searching">
                    <th class="searching">
                        <select id="selectOption" name="selectOption">
                            @foreach (var item in Model.Option)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.SearchingText, new
                         {
                             @class = "form-control",
                             style = "width: 122%; height: 55%; position: relative; left: 147px; top: 1px",
                             placeholder = "Từ khóa tìm kiếm..."
                         })
                    </td>
                    <td>
                        <button type="submit" class="form-control" id="search-icon"><i class="fa fa-search"></i></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    @{
                        if (string.IsNullOrEmpty(data))
                        {
                            <td class="message"><div id="hide">@message</div></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    <td><a href="@Url.Action("AdvancedSearchBook", "SearchBook")" class="up">Tìm kiếm nâng cao</a></td>
                </tr>
            </table>
        </form>
    </div>
    <br>

    <!-- End search bar and book statistics -->

    <div class="inline" style="position: relative; bottom: 50px">&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div style="height: 195px">
        <div class="inline most-borrowing1">
            <table class="most-borrowing1">
                <tr>
                    <th class="most-borrowing">Mượn nhiều trong tháng</th>
                </tr>
                <tr>
                    <td class="fornews">
                        <a href="#" class="news truncate">
                            <i class="fa fa-angle-double-right" style="font-size:18px; color: black"></i>
                            Pathways 4 : Listening, speaking, and critical thinking /
                            Paul Maclntyre
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="fornews">
                        <a href="#" class="news truncate">
                            <i class="fa fa-angle-double-right" style="font-size:18px; color: black"></i>
                            The alchemist / Paulo Coelho ; translated by Alan R. Clarke
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="fornews">
                        <a href="#" class="news truncate">
                            <i class="fa fa-angle-double-right" style="font-size:18px; color: black"></i>
                            Tổng hành dinh trong mùa xuân đại thắng : Hồi ức
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="fornews">
                        <a href="#" class="news truncate">
                            <i class="fa fa-angle-double-right" style="font-size:18px; color: black"></i>
                            Khởi sự doanh nghiệp : Trọn bộ 4 cuốn: Sách hướng dẫn lập kế hoạch kinh doanh
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="readmore" style="text-align: right"><a href="#" class="more">Xem thêm...</a></td>
                </tr>
            </table>
        </div>
        <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="inline most-borrowing2">
            <table class="most-borrowing2">
                <tr>
                    <th class="most-borrowing">Mượn nhiều trong tuần</th>
                </tr>
                <tr>
                    <td class="fornews">
                        <a href="#" class="news truncate">
                            <i class="fa fa-angle-double-right" style="font-size:18px; color: black"></i>
                            Pathways 4 : Listening, speaking, and critical thinking /
                            Paul Maclntyre
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="fornews">
                        <a href="#" class="news truncate">
                            <i class="fa fa-angle-double-right" style="font-size:18px; color: black"></i>
                            The alchemist / Paulo Coelho ; translated by Alan R. Clarke
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="fornews">
                        <a href="#" class="news truncate">
                            <i class="fa fa-angle-double-right" style="font-size:18px; color: black"></i>
                            Tổng hành dinh trong mùa xuân đại thắng : Hồi ức
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="fornews">
                        <a href="#" class="news truncate">
                            <i class="fa fa-angle-double-right" style="font-size:18px; color: black"></i>
                            Working in groups / Isa N Engleberg; Dianna Wynn
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="readmore" style="text-align: right"><a href="#" class="more">Xem thêm...</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div class="inline">
        <br><br>
        <h2 style="color: #f05122; font-family: Arial; text-transform: none">Giới thiệu sách mới</h2>
            <table style="width: 1122px">
                <tr>
                    <td class="book-location">
                        <div class="w3-bar w3-black">
                            <button class="w3-bar-item w3-button tablink" id="book-location"
                                    onclick="openLink(event, 'FSE-HoaLac')">
                                FSE - Hoa Lac
                            </button>
                            <button class="w3-bar-item w3-button tablink" id="book-location"
                                    onclick="openLink(event, 'FSE-Detech')">
                                FSE Detech
                            </button>
                            <button class="w3-bar-item w3-button tablink" id="book-location"
                                    onclick="openLink(event, 'FSB-Hanoi')">
                                FSB
                                - Ha Noi
                            </button>
                            <button class="w3-bar-item w3-button tablink" id="book-location"
                                    onclick="openLink(event, 'FU-Danang')">
                                FU
                                - Da Nang
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="FSE-HoaLac" class="w3-container thing" style="display: block">
                <table class="newbook" id="newbook-home">
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                Pathways 4 : Listening, speaking, and critical thinking / Paul
                                Maclntyre
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                The alchemist / Paulo Coelho ; translated by Alan R.
                                Clarke
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                            <a href="#" class="news">Tổng hành dinh trong mùa xuân đại thắng : Hồi ức</a>
                            <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                Từ Nhân dân mà ra : Hồi ký / Võ Nguyên Giáp; Hữu Mai thể
                                hiện
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                            <a href="#" class="news">Du học ký : vạn dặm có chi / Spiderum</a>
                            <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                            <a href="#" class="news">
                                Khởi sự doanh nghiệp : Trọn bộ 4 cuốn: Sách hướng dẫn lập kế
                                hoạch kinh
                                doanh...
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                            <a href="#" class="news">Working in groups / Isa N Engleberg; Dianna Wynn</a>
                            <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                </table>
            </div>

            <div id="FSE-Detech" class="w3-container thing" style="display: none">
                <table class="newbook" id="newbook-home">
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                Pathways 4 : Listening, speaking, and critical thinking / Paul
                                Maclntyre
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                The alchemist / Paulo Coelho ; translated by Alan R.
                                Clarke
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">Tổng hành dinh trong mùa xuân đại thắng : Hồi ức</a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                Từ Nhân dân mà ra : Hồi ký / Võ Nguyên Giáp; Hữu Mai thể
                                hiện
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                </table>
            </div>

            <div id="FSB-Hanoi" class="w3-container thing" style="display: none">
                <table class="newbook" id="newbook-home">
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                Pathways 4 : Listening, speaking, and critical thinking / Paul
                                Maclntyre
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                The alchemist / Paulo Coelho ; translated by Alan R.
                                Clarke
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">Tổng hành dinh trong mùa xuân đại thắng : Hồi ức</a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                Từ Nhân dân mà ra : Hồi ký / Võ Nguyên Giáp; Hữu Mai thể
                                hiện
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">Du học ký : vạn dặm có chi / Spiderum</a> <img alt="new"
                                                                                                                                                                    src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                </table>
            </div>

            <div id="FU-Danang" class="w3-container thing" style="display: none">
                <table class="newbook" id="newbook-home">
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                Pathways 4 : Listening, speaking, and critical thinking / Paul
                                Maclntyre
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                            <a href="#" class="news">
                                The alchemist / Paulo Coelho ; translated by Alan R.
                                Clarke
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                            <a href="#" class="news">Tổng hành dinh trong mùa xuân đại thắng : Hồi ức</a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                            <a href="#" class="news">
                                Từ Nhân dân mà ra : Hồi ký / Võ Nguyên Giáp; Hữu Mai thể
                                hiện
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                            <a href="#" class="news">Du học ký : vạn dặm có chi / Spiderum</a> <img alt="new"
                                                                                                    src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td class="fornews">
                            <i class="fa fa-angle-double-right" style="font-size:18px"></i> <a href="#" class="news">
                                Khởi sự doanh nghiệp : Trọn bộ 4 cuốn: Sách hướng dẫn lập kế
                                hoạch kinh
                                doanh...
                            </a> <img alt="new" src="~/AllContent/images/new.gif" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="inline" style="width: 280px">
        <table class="round">
            <tr>
                <th class="info">Thông báo</th>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">THÔNG BÁO NGHỈ LỄ 2/9<img alt="new" src="~/AllContent/images/new.gif" /></a>
                </td>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#"
                       class="news">Thông báo lịch mượn sách Fall 2019</a>
                </td>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">Thông báo lịch phục vụ Thư viện</a>
                </td>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">Thông báo đóng cửa Thư viện nghỉ Quốc khánh</a>
                </td>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">Thông báo mở cửa Thư viện</a>
                </td>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">Thông báo đóng cửa thư viện để Reset kho sách</a>
                </td>
            </tr>
            <tr>
                <td class="fornews" style="text-align: right"><a href="#" class="more">Xem thêm...</a></td>
            </tr>
        </table>
    </div>
    <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="inline" style="width: 520px; position: relative; left: 10px;">
        <table class="round">
            <tr>
                <th class="info">Tin tức</th>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">Hấp dẫn đêm đại nhạc hội – Cóc 1 nhà</a>
                    <img alt="new" src="~/AllContent/images/new.gif" />
                </td>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">
                        THƯ MỜI THAM DỰ BUỔI ORIENTATION KỲ 1 DÀNH CHO SINH VIÊN NGÀNH MC+SE+IA+CS KHÓA
                        14B HỌC KỲ SU2019 TỔ CHỨC VÀO NGÀY 29/05/2019 TẠI HB/401L
                    </a>
                </td>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">Cuộc thi dành cho dân Công nghệ Đại học FPT chính thức khởi động</a>
                </td>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">
                        Dưới mưa Chủ tịch FPT Software truyền cảm hứng tiên phong tới tân sinh viên
                        trường F
                    </a>
                </td>
            </tr>
            <tr>
                <td class="fornews">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">
                        Lý do K15 không thể bỏ qua chuyến Study Tour tại xứ sở Kim Chi vào mùa Đông
                        này
                    </a>
                </td>
            </tr>
            <tr>
                <td class="fornews" style="text-align: right"><a href="#" class="more">Xem thêm...</a></td>
            </tr>
        </table>
    </div>
    <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="inline" style="width: 270px; position: relative; left: 22px;">
        <table class="round">
            <tr>
                <th class="info">Cơ sở dữ liệu</th>
            </tr>
            <tr>
                <td class="fordata">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">Cơ sở dữ liệu SAGE Research Methods</a>
                </td>
            </tr>
            <tr>
                <td class="fordata">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">Cơ sở dữ liệu Turnitin</a>
                </td>
            </tr>
            <tr>
                <td class="fordata">
                    <i class="fa fa-angle-double-right" style="font-size:18px"></i>
                    <a href="#" class="news">Cơ sở dữ liệu iThenticate</a>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<br><br>
<!-- End body -->