@model IEnumerable<OPAC.Models.SP_CATA_GET_CONTENTS_OF_ITEMS_Result>
@using OPAC.Models
@using OPAC.Dao

@{
    ViewBag.Title = "Chi tiết sách - Thư viện trường đại học FPT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start body -->
<div class="container">
    <figure>
        <img class="pic-header" alt="Home Slide" src="~/AllContent/images/white-background.png" />
    </figure>
    <div class="navbar-home">
        <a href="@Url.Action("Home", "Home")" style="background-color: #D8491F"><i class="fa fa-home"></i> Trang chủ</a>
        <a href="#">Giới thiệu</a>
        <a href="#">Sản phẩm</a>
        <div class="dropdown-home">
            <button class="dropbtn">Dịch vụ</button>
            <div class="dropdown-content">
                <a href="#">Z39.50</a>
            </div>
        </div>
        <a href="#" style="width: 153px">Nội qui thư viện</a>
        <a href="@Url.Action("PatronAfterLoginPage", "InformationPatron")" style="width: 220px">Thông tin bạn đọc</a>
        @if (Session["ID"] == null)
        {
            <a href="@Url.Action("Login", "Login")" id="login" class="login"><i class="fa fa-sign-in"></i> Đăng nhập</a>
        }
        else
        {
            <a href="@Url.Action("Logout", "Login")" id="login" class="login"><i class="fa fa-sign-out"></i> Đăng xuất</a>
        }
    </div>
    <br>
    @{
        int totalBook = (int)ViewBag.TotalBook;
        int onholdingBook = (int)ViewBag.OnHoldingBook;
        int freeBook = (int)ViewBag.FreeBook;
        var fullBookInfo = (FullInforBook)ViewBag.FullBookInfo;
        var inforCopyNumber = (List<FPT_SP_GET_CODE_AND_SYMBOL_BY_ITEMID_Result>)ViewBag.InforCopyNumber;
        var relatedTerm = (List<SP_OPAC_RELATED_TERMS_Result>)ViewBag.RelatedTerm;
        string title = (string)ViewBag.BookTitle;
        var listDetailBook = new List<FPT_SP_GET_DETAIL_BOOK_WITH_STATUS_Result>();
    }
    <h2 class="searching">Thông tin chi tiết sách</h2>
    <br>
    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'detail-display')">
            Hiển thị đầy
            đủ
        </button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'MARC-display')">
            Hiển thị
            MARC
        </button>
    </div>
    <br>
    <div class="display-detail">
        <div id="detail-display" class="w3-container thing" style="display: block">
            <table>
                <tr>
                    <th>
                        <Label style="font-size: 26px; padding-left: 5px;" class="search-data">
                            <b>Dữ liệu biên mục</b>
                        </Label>
                    </th>
                </tr>
            </table>
            <table style="width: 900px">
                <tr>
                    <td class="detail"><b>Loại tài liệu</b></td>
                    <td>Tư liệu ngôn ngữ (Sách)</td>
                </tr>
                @if (!string.IsNullOrEmpty(fullBookInfo.ISBN))
                {
                    <tr>
                        <td class="detail"><b>Chỉ số ISBN</b></td>
                        <td>@fullBookInfo.ISBN</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(fullBookInfo.LanguageCode))
                {
                    <tr>
                        <td class="detail"><b>Mã ngôn ngữ</b></td>
                        <td>@fullBookInfo.LanguageCode</td>
                    </tr>
                }
                @{
                    var getDDC = relatedTerm.Where(s => s.TermType.Equals("DDC")).FirstOrDefault();
                    if (getDDC != null)
                    {
                    <tr>
                        <td class="detail"><b>Phân loại thập phân Dewey</b></td>
                        <td>@getDDC.DisplayEntry</td>
                    </tr>
                    }
                }
                @{
                    var authorList = relatedTerm.Where(s => s.TermType.Equals("Author"));
                    string mainAuthor = "";
                    string relatedAuthor = "";
                    int count = 0;
                    foreach (var item in authorList)
                    {
                        count++;
                        if (count == 1)
                        {
                            mainAuthor = item.DisplayEntry;
                        }
                        else
                        {
                            relatedAuthor += item.DisplayEntry + ", ";
                        }
                    }
                    relatedAuthor = relatedAuthor.TrimEnd(',', ' ');

                }
                <tr>
                    <td class="detail"><b>Tên tác giả</b></td>
                    <td>@mainAuthor</td>
                </tr>
                @if (!relatedAuthor.Equals(""))
                {
                    <tr>
                        <td class="detail"><b>Tác giả liên quan</b></td>
                        <td>@relatedAuthor</td>
                    </tr>
                }
                <tr>
                    <td class="detail"><b>Thông tin nhan đề</b></td>
                    <td>@title</td>
                </tr>
                <tr>
                    <td class="detail"><b>Xuẩt bản,phát hành</b></td>
                    <td>@fullBookInfo.Publishing</td>
                </tr>
                <tr>
                    <td class="detail"><b>Mô tả vật lý</b></td>
                    <td>@fullBookInfo.PhysicDescription</td>
                </tr>
                @{
                    var keywordList = relatedTerm.Where(s => s.TermType.Equals("KeyWord"));
                    string keyWord = "";
                    int keywordNo = 0;

                    if (keywordList.Count() != 0)
                    {
                        <tr>
                            <td class="detail"><b>Từ khóa</b></td>
                            <td>
                                @foreach (var item in keywordList)
                                {
                                    keywordNo++;
                                    keyWord = keywordNo + ". " + item.DisplayEntry;
                                    <a href="@Url.Action("SearchByKeyWord", "SearchBook", new { keyWord = item.DisplayEntry })" style="font-weight: bold; color: blue">
                                        @keyWord &nbsp;
                                    </a>
                                }

                            </td>
                        </tr>
                    }
                }
            </table>
            <hr style="height: 3px; width: 900px">
            <table>
                <tr>
                    <th>
                        <Label style="font-size: 26px; padding-left: 5px;" class="search-data">
                            <b>Thông tin đăng ký cá biệt</b>
                        </Label>
                    </th>
                </tr>
            </table>
            <table style="width: 900px">
                @foreach (var item in inforCopyNumber)
                {
                    var totalCopyNumber = SearchDao.CountTotalCopyNumberBySymbol(item.ItemID, item.Symbol);
                    var copyNumberFree = SearchDao.CountTotalCopyNumberFreeBySymbol(item.ItemID, item.Symbol);
                    var copyNumberNotFree = totalCopyNumber - copyNumberFree;
                    listDetailBook.AddRange(SearchDao.GetDetailBookWithStatus(item.ItemID, item.Code));
                    <tr>
                        <td class="detail">
                            <b>
                                <i class="fa fa-circle" aria-hidden="true" style="color: green">
                                </i> @item.Code: @item.Symbol
                            </b> Tổng: <span><b>@totalCopyNumber</b></span>
                            Rỗi: <span><b style="color: green"> @copyNumberFree</b></span>
                            Bận: <span><b style="color: red">@copyNumberNotFree</b></span>

                        </td>

                    </tr>
                }
                <tr>
                    <td class="detail">
                        Tổng số bản: <b>@totalBook</b>&nbsp;&nbsp;
                        @if (totalBook != 0)
                        {
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                            <span>&nbsp;<a href="#detail-modal" style="color: blue; font-weight: bold">Chi tiết</a></span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="detail">Số bản rỗi: <b style="color: green">@freeBook</b> (kể cả các bản được giữ chỗ)</td>
                </tr>
                <tr>
                    <td class="detail">
                        Số bản được giữ chỗ: <b>@onholdingBook</b>&nbsp;&nbsp;
                        @if (totalBook != 0)
                        {
                            <a href="#open-modal" class="borrow">Đặt mượn sách</a>
                        }
                    </td>
                </tr>
            </table>
        </div>

        <div id="MARC-display" class="w3-container thing" style="display: none">
            <table>
                <tr>
                    <th>
                        <Label style="font-size: 26px; padding-left: 5px;" class="search-data">
                            <b>Dữ liệu biên mục</b>
                        </Label>
                    </th>
                </tr>
            </table>
            <table style="width: 0px">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="marc1">@item.FieldCode</td>
                        <td class="marc2">@item.Ind</td>
                        <td class="marc3">@item.Content</td>
                    </tr>
                }
            </table>
            <hr style="height: 3px; width: 900px">
            <table>
                <tr>
                    <th>
                        <Label style="font-size: 26px; padding-left: 5px;" class="search-data">
                            <b>Thông tin đăng ký cá biệt</b>
                        </Label>
                    </th>
                </tr>
            </table>
            <table style="width: 900px">
                @foreach (var item in inforCopyNumber)
                {
                    var totalCopyNumber = SearchDao.CountTotalCopyNumberBySymbol(item.ItemID, item.Symbol);
                    var copyNumberFree = SearchDao.CountTotalCopyNumberFreeBySymbol(item.ItemID, item.Symbol);
                    var copyNumberNotFree = totalCopyNumber - copyNumberFree;

                    <tr>
                        <td class="detail">
                            <b>
                                <i class="fa fa-circle" aria-hidden="true" style="color: green">
                                </i> @item.Code: @item.Symbol
                            </b> Tổng: <span><b>@totalCopyNumber</b></span>
                            Rỗi: <span><b style="color: green"> @copyNumberFree</b></span>
                            Bận: <span><b style="color: red">@copyNumberNotFree</b></span>
                        </td>
                    </tr>
                }
                <tr>
                    <td class="detail">
                        Tổng số bản: <b>@totalBook</b>&nbsp;&nbsp;
                        @if (totalBook != 0)
                        {
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                            <span>&nbsp;<a href="#detail-modal" style="color: blue; font-weight: bold">Chi tiết</a></span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="detail">Số bản rỗi: <b style="color: green">@freeBook</b> (kể cả các bản được giữ chỗ)</td>
                </tr>
                <tr>
                    <td class="detail">
                        Số bản được giữ chỗ: <b>@onholdingBook</b>&nbsp;&nbsp;
                        @if (totalBook != 0)
                        {
                            <a href="#open-modal" class="borrow">Đặt mượn sách</a>
                        }
                    </td>
                </tr>
            </table>
        </div>
        <br>
    </div>
    <hr>
    <div>
        <a href="javascript:window.history.back()" class="back"><b><i class='fa fa-arrow-left'></i> Quay về trang trước</b></a>
    </div>
    <br>
</div>
<br>
<!-- End body -->
<!-- Confirm borrowing book popup-->
<div id="open-modal" class="modal-window">
    <div>
        <a href="javascript:window.history.back()" title="Đóng" class="modal-close">&times;</a>
        <h1 style="font-family: Arial">Xác nhận đặt mượn sách</h1>
        <div>Bạn có muốn mượn sách <b>@title</b> ?</div>
        <div>
            <p style="text-align: center; position: relative; top: 28px">
                <a href="#open-modal2" onclick="redirectLink()" class="btn1 btn-borrow1" style="color: white">Đồng ý</a>
                <button class="submit" onclick="window.history.back()">Hủy bỏ</button>
            </p>
        </div>
    </div>
</div>

<div id="open-modal2" class="modal-window">
    <div>
        <div class="success-checkmark">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
        </div>
        <p style="font-family: Arial; color: green; text-align: center; font-size: 30px">Đặt mượn thành công!</p>
    </div>
</div>

<!-- Show detail copy number -->
<div id="detail-modal" class="modal-window">
    <div>
        <a href="javascript:window.history.back()" title="Đóng" class="modal-close">&times;</a>
        <h1 style="font-family: Arial">Chi tiết tình trạng sách</h1>
        <div>
            <table style="width: 100%">
                <thead>
                <tr>
                    <th style="padding: 7px">Thư viện</th>
                    <th style="padding: 7px">Kho</th>
                    <th style="padding: 7px">ĐKCB</th>
                    <th style="padding: 7px">Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in listDetailBook)
                {
                    <tr>
                        <td style="padding: 7px">@item.Code</td>
                        <td style="padding: 7px">@item.Symbol</td>
                        <td style="padding: 7px">@item.CopyNumber</td>
                        @if (item.InUsed)
                        {
                            <td style="padding: 7px; color: red; font-weight: bold">Đang cho mượn</td>
                        }
                        else
                        {
                            <td style="padding: 7px; color: green; font-weight: bold">Đang sẵn sàng</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
            <br />
            <button class="submit" onclick="window.history.back()">Đóng</button>
        </div>
    </div>
</div>