@model List<OPAC.Models.SP_OPAC_GET_ONHOLDING_Result>

@{
    ViewBag.Title = "Tài liệu đang mượn - Thư viện trường đại học FPT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start body -->
<div class="container">
    <figure>
        <img class="pic-header" alt="Home Slide" src="~/AllContent/images/white-background.png" />
    </figure>
    <div class="navbar-home">
        <a href="@Url.Action("Home", "Home")"><i class="fa fa-home"></i> Trang chủ</a>
        <a href="#">Giới thiệu</a>
        <a href="#">Sản phẩm</a>
        <div class="dropdown-home">
            <button class="dropbtn">Dịch vụ</button>
            <div class="dropdown-content">
                <a href="Z3950.html">Z39.50</a>
            </div>
        </div>
        <a href="#" style="width: 153px">Nội qui thư viện</a>
        <a href="@Url.Action("PatronAfterLoginPage", "InformationPatron")" style="width: 220px; background-color: #D8491F">Thông tin bạn đọc</a>
        @if (Session["ID"] == null)
        {
            <a href="@Url.Action("Login", "Login")" id="login" class="login"><i class="fa fa-sign-in"></i> Đăng nhập</a>
        }
        else
        {
            <a href="@Url.Action("Logout", "Login")" id="login" class="login"><i class="fa fa-sign-out"></i> Đăng xuất</a>
        }
    </div>
    <br>
    <div class="inline">
        <table border="1" class="personal" id="list-infor">
            <tr>
                <th class="personal">Trình đơn bạn đọc</th>
            </tr>
            <tr>
                <td class="personal">
                    <a href="@Url.Action("PatronAfterLoginPage", "InformationPatron")" class="book-borrowing">Thông tin bạn đọc</a>
                </td>
            </tr>
            <tr>
                <td class="personal selecting">Tài liệu đang mượn</td>
            </tr>
            <tr>
                <td class="personal"><a href="#" class="book-borrowing">Thông tin đặt mượn sách</a></td>
            </tr>
            <tr>
                <td class="personal"><a href="#" class="book-borrowing">Lịch sử mượn sách</a></td>
            </tr>
        </table>
    </div>
    <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    @if (Session["ID"] == null)
    {
        <div>
            <table border="1" class="personal" id="infor">
                <tr>
                    <th class="personal">Thông tin bạn đọc</th>
                </tr>
                <tr>
                    <td class="personal">
                        <p class="need-to-login">Bạn đọc cần phải đăng nhập vào hệ thống</p>
                    </td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div>
            <table border="1" class="personal" id="infor">
                <tr>
                    <th class="personal">Tài liệu đang mượn</th>
                </tr>
                <tr>
                    <td class="personal">
                        <table>
                            <tr>
                                <th class="book-borrowing" style="width: 45px">STT</th>
                                <th class="book-borrowing">Tên sách</th>
                                <th class="book-borrowing">ĐKCB</th>
                                <th class="book-borrowing">Ngày mượn</th>
                                <th class="book-borrowing">Hạn trả</th>
                                <th class="book-borrowing" style="width: 70px">Số ngày quá hạn</th>
                            </tr>
                            @{
                                int count = 0;
                                foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td class="fornews">@count</td>
                                        <td class="fornews">
                                            <a href="@Url.Action("DetailBook", "SearchBook", new { itemID = item.ItemID })" 
                                               class="book-borrowing-truncate"><b>@item.Content</b>
                                            </a>
                                        </td>
                                        <td class="fornews">@item.CopyNumber</td>
                                        <td class="fornews">@item.CODate</td>
                                        <td class="fornews">@item.CIDate</td>
                                        @if (item.OVERDUEDAYS <= 0)
                                        {
                                            <td class="fornews" style="text-align: center">0</td>
                                        }
                                        else
                                        {
                                            <td class="fornews" style="text-align: center">@item.OVERDUEDAYS</td>
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    }
    <br>
</div>
<br>
<!-- End body -->